
 p{
   width: 560px;
   top: 280px;
   left: 70px;
   position: absolute;
   font-family: 'Montserrat', sans-serif;
 }
 .button-1 {
   background-color: #80DDD7;
   border: none;
   width: 242px;
   height: 40px;
   top: 383px;
   left: 70px;
   position: absolute;
   border-radius: 5px;
   color: white;
 }
 .button-2 {
background-color: #48ACA6;
border: none;
border-radius: 5px;
width: 190px;
left: 350px;
height: 40px;
top: 383px;
position: absolute;
color: white;
 }
 
 